body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;     
  display: flex;
  justify-content: center;
  align-items: center;
}


.app-container::before {
  content: "";
  position: absolute;
  inset: 0;               
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}


.app-container > * {
  position: relative;
  z-index: 1;
}


.landing-container {
  text-align: center;
  color: white;
}

.landing-container h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 20px;
  margin-bottom: 25px;
}

.start-btn {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #2e7d32;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  background-color: #1b5e20;
}
